{% load static %}
<!doctype html>  
<html lang="en">  
  <head> 
		<div > <!-- added top-header div -->
			
		</div>
		
		<title>Dashboard - <%= username %></title>
		
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
	</head>
  
  <body>
    <div class="top-header">
      <!-- Your header content goes here -->
    </div>
    <div class="sidebar">
      <h2>Welcome, <%= username %></h2>
			<ul>
				<li><a href="/dashboard">Home</a></li>
				<li><a href="/taskview">Appointments</a></li>
				<li><a href="/directory">Patients Directory</a></li>
				<li><a href="/message">Message</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
    </div>
    <div class="content">
      {% block content %}
      <!-- Content specific to each page goes here -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      {% endblock content %}
    </div>
  </body>
</html> 
