{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-7">Dashboard</h1>
        <hr class="my-3">
    </div>
    <br>
    <ul>
        <div class="card-action">
            <a href="{% url 'addPatient'%}">Add New Patient</a>
        </div>

        <div class="card-action">
            <a href="{% url 'viewPatients'%}">View My Patients</a>
        </div>

        <div class="card-action">
            <a href="{% url 'scheduleAppointmentDoctor'%}">Schedule New Appointment</a>
        </div>

        <div class="card-action">
            <a href="{% url 'viewPastAppointmentsDoctor'%}">View Past Appointments</a>
        </div>

        <div class="card-action">
            <a href="{% url 'viewFutureAppointmentsDoctor'%}">View Future Appointments</a>
        </div>

        <div class="card-action">
            <a href="{% url 'addDiagnosis'%}">Make New Diagnosis</a>
        </div>

        <div class="card-action">
            <a href="{% url 'logoutDoctor'%}">Logout</a>
        </div>
    </ul>
    
    
{% endblock content %}