{% extends 'base_doctor.html' %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-7">Your Patients</h1>
    <hr class="my-3">
    <p class="text">Select patient to view profile</p>
</div>

    {% if patients %}  
        <ul>   
            {% for p in patients %}  
               
            <a class="widelink" href="{% url 'viewProfileDoctorSecure' patientUsername=p.patient.username %}">{{p.patient.username}} </a> <br>

                {% endfor %}
                
        </ul>
    {% endif %}
    <a href="/addPatient">Add New Patient</a> <br>
    
{% endblock content %}