{% extends 'base_patient.html' %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-7">Previous Appointments</h1>
    <hr class="my-3">
</div>
    {% if appts %}  
        <ul>   
            {% for a in appts %}  
               
                Appointment Date: {{a.apptDate}}  <br>
                Doctor Notes: {{ a.docNotes }} <br>
                Patient Notes: {{ a.patientNotes }} <br>
                Attending Physician: {{ a.staffUser }}
                <br><br>

            {% endfor %}  
        </ul>   
    {% endif %}
    
{% endblock content %}