{% extends 'base.html' %}
{% block content %}
   
<h1>Viewing My Profile</h1>
    <br>

    {% if user %}  
        <ul>   
            Name: {{ user.lname }}, {{ user.fname }} <br>
            Address: {{ user.address }}<br>
            Phone Number: {{ user.phone }}<br>
            Age: {{ user.age }}<br>
            Sex: {{ user.sex }}<br>
            Allergies: {{ user.allergies }}<br>
            History: {{ user.history }}<br>
            Symptoms: {{ user.symptoms }}<br><br>

            <h2> Diagnoses </h2>
            {% if diagnoses %}

            <ul>
                {% for d in diagnoses %}

                    Name: {{ d.diagnosis }}<br>
                    Notes: {{ d.docNotes }}<br>
                    Created At: {{ d.createdAt }}<br><br><br>

                {% endfor %}


            </ul>

            {% endif %}

            <br><br>

            <div class="card-action">
                <a href="{% url 'editProfilePatient' %}"> Edit Profile</a> <br>
            </div>




        </ul>   
    {% endif %} 
    
{% endblock content %}