{% extends 'base_doctor.html' %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-7">Patient Profile</h1>
    <hr class="my-3">
</div>
{% if patient %}
    <div class="patient-details">
        <div class="patient-info">
            <h2>Patient Information</h2><br>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Attribute</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Name</th>
                        <td> ***************** </td>
                    </tr>
                    <tr>
                        <th scope="row">Address</th>
                        <td>***************** </td>
                    </tr>
                    <tr>
                        <th scope="row">Phone Number</th>
                        <td>***************** </td>
                    </tr>
                    <tr>
                        <th scope="row">Age</th>
                        <td>** </td>
                    </tr>
                    <tr>
                        <th scope="row">Sex</th>
                        <td>*</td>
                    </tr>
                    <tr>
                        <th scope="row">Allergies</th>
                        <td>***************** </td>
                    </tr>
                    <tr>
                        <th scope="row">History</th>
                        <td>***************** </td>
                    </tr>
                    <tr>
                        <th scope="row">Symptoms</th>
                        <td>***************** </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="card-action">
            <a href="{% url 'viewProfileDoctor' patientUsername=patient.username %}">Show Information</a>
        </div>
 
        <div class="patient-diagnoses"><br>
            <h2>Diagnoses</h2><br>
            {% if diagnoses %}
                <ul class="list-group">
                    {% for d in diagnoses %}
                        <li class="list-group-item">
                            <h3>Name:</h3>
                            <p>***************** </p>
                            <h3>Notes:</h3>
                            <p>***************** </p>
                            <h3>Created At:</h3>
                            <p>***************** </p>
                        </li><br>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <br><br>
    <div class="card-action">
        <a href="{% url 'confirmPassword' patientUsername=patient.username%}">Edit Patient's Profile</a>
    </div>
{% endif %}
{% endblock content %}
